{% extends 'base.html' %}

{% block content %}

<h1 class="text-3xl font-bold mb-6">
Add Maintenance
</h1>

<form method="POST"
class="bg-white p-8 rounded-xl shadow-lg">

<div class="grid gap-4">

<input
type="date"
name="maintenance_date"
required
class="border rounded-lg p-3">

<input
name="technician_name"
placeholder="Technician Name"
required
class="border rounded-lg p-3">

<textarea
name="issue_reported"
placeholder="Issue Reported"
class="border rounded-lg p-3">
</textarea>

<textarea
name="resolution_notes"
placeholder="Resolution Notes"
class="border rounded-lg p-3">
</textarea>

<input
type="date"
name="next_due_date"
class="border rounded-lg p-3">

</div>

<button
class="mt-6 bg-blue-600 text-white px-6 py-3 rounded-lg">

<i class="fa-solid fa-floppy-disk"></i>

 Save Maintenance

</button>

</form>

{% endblock %}
