{% extends 'base.html' %}

{% block content %}

<h1 class="text-3xl font-bold mb-4">
Maintenance History
</h1>

<h2 class="text-xl mb-6">
{{ equipment.equipment_name }}
</h2>

<a href="/maintenance/add/{{ equipment.equipment_id }}"
class="bg-green-600 text-white px-5 py-3 rounded-lg">

<i class="fa-solid fa-plus"></i>

Add Maintenance

</a>

<div class="bg-white rounded-xl shadow-lg mt-6 overflow-hidden">

<table class="min-w-full">

<thead class="bg-blue-800 text-white">

<tr>
<th>Date</th>
<th>Technician</th>
<th>Issue</th>
<th>Resolution</th>
<th>Next Due</th>
</tr>

</thead>

<tbody>

{% for r in records %}

<tr class="border-b">

<td class="p-3">{{ r.maintenance_date }}</td>
<td class="p-3">{{ r.technician_name }}</td>
<td class="p-3">{{ r.issue_reported }}</td>
<td class="p-3">{{ r.resolution_notes }}</td>
<td class="p-3">{{ r.next_due_date }}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}
